[Unit]
Description=node-exporter service

[Service]
Type=simple
Restart=on-failure
ExecStart=/home/ubuntu/node_exporter/node_exporter
User=ubuntu

[Install]
WantedBy=multi-user.target

