[Unit]
Description=node-exporter service

[Service]
Type=simple
Restart=on-failure
ExecStart=/node_exporter/node_exporter

[Install]
WantedBy=multi-user.target

